---
import PostPreview from '@components/PostPreview.astro';
import BaseLayout from '@layouts/BaseLayout.astro';
const pageTitle = "Posts";
const posts = await Astro.glob("./*.md");
---
<BaseLayout title={pageTitle}>
    <main>
        <article>
            <br>
            <h1 id="title">{pageTitle}</h1>
            <p></p>
            <section class="posts">
                {posts.map((post) => <PostPreview post={post} />)}
            </section>
        </article>
    </main>
</BaseLayout>
<style>
    #title {
        margin: 0 auto;
        font-size: 3rem;
        font-weight: 900;
        line-height: normal;
        font-family: "Inter", sans-serif;
    }
    main {
        padding: 1rem;
    }
    article {
        max-width: 100%;
        margin: 0 auto;
        padding: 0 1rem;
    }

    .posts {
        display: grid;
        /* grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); */
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        grid-gap: 1rem;
    }

    @media screen and (min-width: 720px) {
        main {
            max-width: 100ch;
        }
    }

    @media screen and (min-width: 900px) {
        main {
            max-width: 120ch;
        }
    }
</style>