---
---
<div class="card">
	<slot />
</div>
<style>
	.card {
        padding: 0.5em;
		border: 1px solid #ccc;
        border-radius: 0.5em;
        background-color: #f9f9f9;
        box-shadow: 0 0 0.15em rgba(0, 0, 25, 0.2);
        /* margin-top: 1em; */
    }

    html.dark .card {
        border-color: #333;
        background-color: #333;
        transition: all 0.15s ease-in-out;
    }
</style>