---
import Card from '@components/Card.astro';
const limit = 5; // number of posts to show
const posts = await Astro.glob('../pages/posts/*.md'); // returns an array of posts that live at ./src/pages/posts/*.md
const filteredPosts = posts
                        .filter((post: any) => !post.frontmatter.draft) // filter out drafts
                        .sort((a: any, b: any) => new Date(b.frontmatter.date).getTime() - new Date(a.frontmatter.date).getTime()) // sort by date
                        .slice(0, limit); // limit number of posts
---
<aside id="Recent">
    <Card>
        <h3>Recent Posts</h3>
        <ul>
            {filteredPosts.map((post: any) => <li><a href={post.url}>{post.frontmatter.title}</a></li>)}
        </ul>
    </Card>
</aside>
<style>
    aside {
        min-width: 16em;
        display: inline-block;
        padding: 0.5em;
    }

    aside h3 {
        font-size: 1.75rem;
        font-weight: 700;
        font-family: "Inter", sans-serif;
        margin: 0.5em;
        margin-bottom: 0;
    }

    aside ul {
        margin: 0 0.5em 0.5em;
        padding: 0.5em 0;
        padding-left: 1.5em;
    }
</style>