---
import Tag from "./Tag.astro";
const { tags } = Astro.props;
---
<section class="tags">
    {tags.map((tag) => {
        return (
            <Tag tag={tag} />
        );
    })}
</section>
<style>
    .tags {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        gap: 0.5em;
        justify-content: flex-start;
        margin-top: 0.25em;
    }
</style>