---
import Layout from "./BaseLayout.astro";
import Frontmatter from "@components/Frontmatter.astro";
const { frontmatter } = Astro.props; // destructure frontmatter from Astro.props
---
<Layout title={frontmatter.title}>
    <main>
        <article>
            <Frontmatter frontmatter={frontmatter} />
            <slot /> {/* slot for Astro content */}
        </article>
    </main>
</Layout>
<style>
    @media screen and (min-width: 720px) {
        main {
            max-width: 80ch;
        }
    }

    @media screen and (min-width: 1024px) {
        main {
            max-width: 120ch;
        }
    }
</style>